@import url('https://fonts.googleapis.com/css?family=Cormorant+Unicase|Gugi|Montserrat|Open+Sans+Condensed:300|Wendy+One');

.container {
    max-width: 1010px;
    margin-left: auto;
    margin-right: auto;
    
}

img {
    max-width: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
font-family: 'Gugi', cursive;
font-family: 'Cormorant Unicase', serif;
font-family: 'Wendy One', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;
}
